@page "/torrents"
@using TorrentGrease.Shared.TorrentClient
@inject ITorrentService TorrentService

<h1>Torrents</h1>

@if (torrents == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Info hash</th>
                <th>Name</th>
                <th>Downloaded</th>
                <th>Total size</th>
                <th>Total uploaded</th>
                <th>Location on disk</th>
                <th>Tracker urls</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var torrent in torrents)
            {
            <tr>
                <td>@torrent.InfoHash</td>
                <td>@torrent.Name</td>
                <td>@torrent.GBsOnDisk.ToString("N2") GB</td>
                <td>@torrent.SizeInGB.ToString("N2") GB</td>
                <td>@torrent.TotalUploadInGB.ToString("N2") GB</td>
                <td>@torrent.Location</td>
                <td>@String.Join(", ", torrent.TrackerUrls)</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Torrent> torrents;

    protected override async Task OnInitializedAsync()
    {
        torrents = await TorrentService.GetAllTorrentsAsync();
    }
}
